<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    <div id="header">
        {{> filepath}}
    </div>
    <div id="main">
        <div id="content">
          {{{body}}}
        </div>
        {{!-- <div id="vertical-stand"></div>
        <div id="horizontal-stand"></div> --}}
    </div>
  </body>
</html>
