<!DOCTYPE html>
<html>
  <head>
    <title>rebecca weinberger</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='scripts/jquery-3.3.1.min.js'></script>
    <script src='scripts/main.js'></script>
  </head>
  <body>
    <div id="header">
        <span id="title">rebecca <span class="highlight-text">weinberger</span></span>
    </div>
    <div id="main">
        <div id="sidebar">
          <a href="/" class="nav-a" id="about-link"> about </a> 
          <a href="/projects" class="nav-a" id="projects-link"> projects </a>
          <a href="/contact" class="nav-a" id="contact-link"> contact </a>
        </div>
        <div id="content">
          {{{body}}}
        </div>
    </div>
<!--     <div id="circle1" class="circle"></div>
    <div id="circle2" class="circle"></div> -->
  </body>
</html>
