<span>Find me on</span>

    <ul>
        <li> <a href="https://www.linkedin.com/in/rebecca-weinberger-a40934b0/" target="_blank">LinkedIn</a> </li>
        <li> <a href="https://github.com/rweinberger" target="_blank">GitHub</a> </li>
        <li> <a href="https://www.facebook.com/rebeccaweinberger" target="_blank">Facebook</a> </li>
    </ul>

    <br>

<span>or shoot me an email at <a href="mailto:rew@mit.edu">rew@mit.edu</a>.</span>