Find me on 

<ul>
    <li> <a href="">LinkedIn</a> </li>
    <li> <a href="">GitHub</a> </li>
    <li> <a href="">Facebook</a> </li>
</ul>

<br>

or shoot me an email at <a href="mailto:rew@mit.edu">rew@mit.edu</a>!