<br>
Click project titles to toggle details.
<br>
<ul>
    <li>
        <a class='project-toggle' href='#'>APM visualizer</a>: a visualization of MongoDB application performance logs
        <span class='project-toggled-content'>
            Intern project - simple React/Redux visualization of MongoDB driver performance and state over a period of time, 
            using information generated from the driver APM logging feature. Allows users to scrub back and forth in time to view specific snapshots.
            [<a href='https://github.com/rweinberger/apm-visualization' target='_blank'>GitHub</a>]
        </span>
    </li>
    <li>
        <a class='project-toggle' href='#'>TechConnect</a>: a distributed system for collecting data around MIT’s campus
        <span class='project-toggled-content'>
            For 6.033 (Systems Engineering). Culminating paper detailed design decisions such as network topology, routing, communication protocol, 
            and main server design. Provided an evaluation detailing tradeoffs, various use cases, failure handling, performance, resource usage, and limitations.
            [<a href='/documents/tech-connect.pdf' target='_blank'>Paper</a>]
        </span>
    </li>
    <li>
        <a class='project-toggle' href='#'>src</a>: a responsive UI for researchers writing large publications
        <span class='project-toggled-content'>
            For 6.813 (User Interface Design &amp; Implementation). Created a user-tested and heuristically-evaluated front end interface. Designed to facilitate 
            highly efficient organization and retrieval of files for those working on long-term projects spanning many resources.
            [<a href='https://github.com/kbridbur/src' target='_blank'>GitHub</a>]
        </span>
    </li>
    <li>
        <a class='project-toggle' href='#'>Iacono's Working Set Structure</a>: implementation, visualization, and analysis
        <span class='project-toggled-content'>
            For 6.851 (Advanced Data Structures). Implemented the data structure in JavaScript as well as an interactive browser visualization. 
            Analyzed the structure’s performance against other common data structures.
            [<a href='https://github.com/6851-2017/dynamic-optimality' target='_blank'>GitHub</a>]
        </span>
    </li>
    <li>
        <a class='project-toggle' href='#'>eHive</a>: an IOT project for remotely monitoring beehives' health
        <span class='project-toggled-content'>
            Created a prototype for an efficient, low-cost, open-source beehive monitor. Device consists of a wireless Adafruit sensor kit, which forwards the data 
            via Arduino microcontrollers to a Node web platform to be displayed in real time.
            [<a href='https://github.com/rweinberger/eHive' target='_blank'>GitHub</a>]
        </span>
    </li>
    <li>
        <a class='project-toggle' href='#'>beaver++</a>: a web platform for trading products within the MIT community
        <span class='project-toggled-content'>
            First place winner of MIT's web dev competition (casual division). A Node app to simplify and centralize the process of trading products within the 
            MIT community. The app is a login-secured buy/sell platform that integrates a MongoDB database and includes searching and messaging features.
            [<a href='http://beaverplus.herokuapp.com/' target='_blank'>Site</a> / <a href='https://github.com/mit6148/chris-xue-revaranka-rweinberger' target='_blank'>GitHub</a>]
        </span>
    </li>
    <li>
        <a class='project-toggle' href='#'>MIT Alpha Chi Omega</a>: deployed the chapter's public and private websites
        <span class='project-toggled-content'>
            Implemented and deployed two Django websites for MIT’s AXO chapter. The internal site’s functionality is geared at keeping track of chapter attendance 
            and elections data.
            [<a href='https://axo.mit.edu/' target='_blank'>Public site</a> / <a href='https://axo-sisters.mit.edu/' target='_blank'>Chapter-only site</a> / <a href='https://github.com/rweinberger/axo-public' target='_blank'>GitHub</a>]
        </span>
    </li>
    <li>
        <a class='project-toggle' href='#'>Building a violin from scratch</a>
        <span class='project-toggled-content'>
            Pursued an independent project of building a violin from scratch, mentored by an amateur luthier and funded by Hathaway Brown. Documented the process in a 
            short video.
            [<a href='https://www.youtube.com/watch?v=sTp3U9RqBlY&t=2s' target='_blank'>Video</a>]
        </span>
    </li>
</ul>