:root {
    --page-background: #fff;
    --content-background: #efefef;

    --content-width: 700px;
    --content-height: 40vh;
    --nav-height: 52px;

    --font: monospace;
    --body-font-size: 1.2em;
    --project-description-font-size: 11pt;
    --font-color: var(--gray);

    --link-color: black;
    --highlight: #ffb835;
    --light-highlight: #ffebc6;

    --light-gray: #c5c5c5;
    --gray: #797979;
}

@font-face {
    font-family: custom;
    src: url(/fonts/IBMPlexMono-Thin.ttf);
}

html, body {
    -webkit-text-size-adjust: 100%;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    font: var(--body-font-size) var(--font);
    color: var(--font-color);
    background-color: var(--page-background);
    display: grid;
    grid-template-rows: 1fr var(--content-height) 1.5fr;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-areas:
        "  ...   head   ...  "
        "sidebar main   .... "
        "footer footer footer";
}

/*--------------------------------*/
/*            layout              */
/*--------------------------------*/

#title {
    color: var(--highlight);
    grid-area: head;
    align-self: end;
    justify-self: start;
    font: 34pt var(--font);
    letter-spacing: 2px;
    padding-bottom: 20px;
}

#title:hover {
    /* background-color: var(--light-gray) */
}

#sidebar {
    grid-area:sidebar;
}

#main {
    grid-area: main;
    background-color: var(--content-background);
    width: 70vw;
    max-width: var(--content-width);
    border: solid 5px var(--gray);
    display: grid;
    grid-template-rows: var(--nav-height) 1fr;
    grid-template-areas:
        "nav"
        "content";
    -webkit-box-shadow: 10px 10px 0px 1px var(--highlight);
    -moz-box-shadow: 10px 10px 0px 1px var(--highlight);
    box-shadow: 10px 10px 0px 1px var(--highlight);
}

#nav {
    padding: 17px;
    grid-area: nav;
    border-radius: 10px 10px 0px 0px;
    /* border-bottom: solid 1px var(--light-gray); */
}

#content {
    margin-left: 20px;
    grid-area: content;
    overflow-y: scroll;
}

/*--------------------------------*/
/*            general             */
/*--------------------------------*/

a {
    color: var(--link-color);
    text-decoration: none;
    font-family: var(--body-font)
}

a:hover{
    color: var(--highlight);
}

h2 {
    margin: 0;
    border-bottom: solid 1px var(--duller);
    width: fit-content;
    padding-bottom: 5px;
    letter-spacing: 2px;
}

li {
    margin: 10px;
}

.nav-a {
    display: inline-block;
    margin-right: 15px;
    padding: 2px;
}

.nav-a:hover {
    color: white;
    background: var(--highlight)
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid var(--light-gray);
}

/*--------------------------------*/
/*           scrollbar            */
/*--------------------------------*/

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--content-background);
}

::-webkit-scrollbar-thumb {
    background: var(--light-gray);
}

::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--gray);
}

/*--------------------------------*/
/*        specific elements       */
/*--------------------------------*/

.project-toggled-content {
    font-size: var(--project-description-font-size);
    display: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* background-color: var(--light-highlight); */
    max-width: 92%;
}